.admin-details-management-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.admin-details-management-content h2,h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.admin-details-list {
  overflow-y: auto;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.admin-details-item {
  width: 100%;
  background-color: #F1F4F7;
  margin-bottom: 20px;
  border: 1px solid transparent; 
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s;
}

.admin-details-item:hover {
  transform: translateY(-5px); 
  border-color: #007bff; 
  background: linear-gradient(to bottom, #eaeede, #9baab7);
}

.admin-details-list p {
  margin-bottom: 10px;
  transition: color 0.3s; 
}

.admin-details-list p strong {
  margin-right: 10px;
  text-align: left;
}

.Reservation-details-list p span {
  text-align: right;
}

.back-button-3 {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button-3:hover {
  background-color: #b2e1a6;
}

.hamburger-icon {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .hamburger-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .admin-details-management-content {
    margin-left: 0px; 
  }

}