.admin-profile-content {
    flex: 1;
    flex-direction: column;
    margin-left: 350px;
    margin-right: 100px;
    padding: 20px;
}

.admin-profile-title {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.profile-sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.profile-section,
.password-section,
.activity-log { 
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-bottom: 10px;
}

.section-box {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    flex: 1;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.section-box:hover {
    background-color: #e0e0e0;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-profile,
.change-password {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.update-profile:hover,
.change-password:hover {
    background-color: #9dc8ec;
}

.admin-image-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.activity-log {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    height: auto; 
    overflow-y: auto;
}

.log-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.log-item p {
    margin: 0;
}

.log-date {
    font-size: 12px;
    color: #888;
}

@media screen and (max-width: 768px) {
    .admin-profile-content {
        margin-left: 0;
    }

    .profile-section,
    .password-section,
    .activity-log { 
        width: 100%; 
        max-width: none; 
    }
}
