.fault-management-content {
    flex: 1;
    flex-direction: column;
    margin-left: 350px;
    margin-right: 100px;
    padding: 20px;
}

.fault-management-content h2 {
    margin-top: 10px;
    margin-bottom: 50px; 
    text-align: center;
}


.fault-item {
    background-color: #F1F4F7;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s, background-color 0.3s; 
}

.fault-item:hover {
    transform: translateY(-5px); 
    background: linear-gradient(to bottom, #eaeede, #9baab7);
  }

/* .fault-form {
    display: flex;
    flex-direction: column;
} */

.fault-form label {
    margin-bottom: 5px;
}

.fault-form input[type="text"],
.fault-form select {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333333;
    width: 100%; 
    box-sizing: border-box; 
}

.fault-management-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
}

.save-button,
.edit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.save-button:hover,
.edit-button:hover {
    background-color: #9dc8ec;
}


@media screen and (max-width: 768px) {
    .fault-management-content {
      margin-left: 0; 
      margin-right: 50; 
    }
  
    .fault-list {
      width: 100%; 
    }
  
    .sidebar-icons {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
  
    .sidebar-icon {
      margin-left: 10px;
      cursor: pointer;
      font-size: 20px;
    }
  }