.shop-management-content-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-left: 350px;
  margin-right: 80px;
  padding: 20px;
}

.shop-management-content-1 h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.shop-list {
  overflow-y: auto;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-item {
  width: 100%;
  background-color: #F1F4F7;
  margin-bottom: 20px;
  border: 1px solid transparent; 
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s; 
}

.shop-item:hover {
  border-color: #007bff; 
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; 
}

.button-view-shop {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-view-shop:hover {
  background-color: #0056b3;
}

.shop-item p {
  margin-bottom: 10px;
  transition: color 0.3s; 
}

.shop-item p:hover {
  color: rgb(24, 74, 9); 
}

@media screen and (max-width: 768px) {
  .shop-management-content-1 {
    margin-left: 0; 
  }

  .shop-list {
    width: 100%; 
  }

  .sidebar-icons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .sidebar-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
  }
}
