.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  padding: 10px;
  height: 100%; 
  background: linear-gradient(135deg, #a0a8ab, #bfeff8, #75cdeb, #3d98f3);
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2; 
}

.logo-container {
  padding: 10px;
}

.logo-website {
  width: 100%;
  height: auto;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
}

.search-bar input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 15px; 
  font-size: 14px;
  background: #f1f1f1; 
  color: #333; 
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.list-item img {
  width: 20px; 
  height: 20px;
  margin-right: 10px; 
}

.dropdown-icon {
  margin-left: auto;
  width: 20px; 
  height: 20px; 
}

.dropdown-content {
  padding: 10px 0;
}

.dropdown-content .list-item {
  margin-bottom: 3px;
}

@media screen and (max-width: 768px) {
  .left-sidebar {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .left-sidebar.open {
    display: block;
    width: 250px; 
    transition: width 0.3s ease; 
  }

}
