.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  background: linear-gradient(to bottom, #b8e2f1, #3fd0ed, #045069, #063f79);
  color: #fff;
  padding: 10px;
  height: 100%;
  transition: background-color 0.3s ease;
}

.icon {
  width: 46px;
  height: 46px;
  margin-bottom: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.icon:active {
  background-color: rgb(178, 217, 237);
}
