.service-process-details-management {
  display: flex;
  height: 100vh;
  
}

.service-process-details-management-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.service-process-details-management-content h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}


 .service-process-details-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  
}

.service-process-details-item{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px; /* Adjust padding as needed */
  width: 250%;

}


.service-process-details-list p {
  background-color: #e3f2fd;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex; /* Enable flexbox for proper alignment */
  justify-content: space-between; /* Align content to fill available space */
}

.service-process-details-list p strong {
  margin-right: 10px; /* Add margin between category name and value */
  text-align: left; /* Left-align category name */
}

.service-process-details-list p span {
  text-align: right; /* Right-align category value */
}

  


.service-process-details-management-back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-process-details-management-back-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .service-process-details-item {
    padding: 10px;
    width: 100%;
   
  }
  .service-process-details-list{
    overflow-y: auto;

  }

  .service-process-details-list p {
    flex-direction: column;
    align-items: flex-start;
   
  }

  .service-process-details-list p strong, 
  .service-process-details-list p span {
    text-align: left;
    width: 100%;
  }

  .service-process-details-management-back-button {
    width: 100%;
    text-align: center;
  }
}

  

