.shop-feedback-setting-window {
    display: flex;
    height: 100vh;
}

.shop-feedback-setting-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 250px;
}

.shop-feedback-setting-content h2 {
    margin-bottom: 20px;
}

.shop-feedback-setting-form {
    width: 300px;
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 16px;
    
}

input {
    margin-right: 8px;
}

button {
    background-color: #2467c5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 1200px) {
    .shop-feedback-setting-content {
        margin-left: 200px;
        padding: 15px;
    }
}

@media (max-width: 992px) {
    .shop-feedback-setting-content {
        margin-left: 150px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .shop-feedback-setting-content {
        margin-left: 100px;
        padding: 5px;
    }
}

@media (max-width: 576px) {
    .shop-feedback-setting-content {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }

    .shop-feedback-setting-form {
        width: 100%;
    }
}