.set-password {
    width: 100%;
    min-height: 100vh;
    background: url('../assets/handshake.jpeg') center/cover;
    display: flex;
    justify-content: space-between;
    align-content: center;    
    text-align: center;
    padding: 20px; 
}

.set-password-left {
    flex-basis: 48%;
    color: purple; 
    text-align: center;
    align-items: flex-start;
}

.set-password-left h2 {
    margin: 70px; 
    font-size: 2.5rem; 
    line-height: 1.2;
    color: purple; 
   
}

.set-password-right {
    display: flex;
    flex-direction: column;
    width: 420px;
    background: lightblue;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px 40px;
    margin-right: 80px;
}

.set-password-right h2 {
    font-size: 30px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.UnorderedList {
    padding-left: 20px;
}

.ListItem {
    margin: 5px 0;
    padding-left: 1em;
    text-indent: -1em;
    display: flex;
    align-items: baseline; /* Align items along the baseline */
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.middle label {
    margin-bottom: 5px;
    font-family:Cambria;
    font-weight: 800;
}

.middle input {
    margin-bottom: 10px;
}

.list-password {
    font-weight: bold;
    color: rgb(18, 4, 88);
}

.sp-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

.sp-button-container button[type="submit"] {
    width: 200px;
    height: 35px;
    margin-bottom: 40px;
    background: rgb(18, 4, 88);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(113, 90, 211, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #f1eeee;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 30px;
}

.sp-button-container button[type="submit"]:hover {
    background-color: rgb(197, 114, 239);
}


@media (max-width: 1024px) {
    .set-password {
        flex-direction: column;
        align-items: center;
    }

    .set-password-left, .set-password-right {
        flex-basis: 100%;
        width: 90%;
        margin-right: 0;
        margin-top: 20px;
    }

    .set-password-left h2 {
        margin: 40px 0;
        font-size: 2rem;
    }

    .set-password-right {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    
}

@media (max-width: 768px) {
    .set-password-left h2 {
        margin: 20px 0;
        font-size: 1.5rem;
    }

    .set-password-right {
        padding: 15px;
    }

  
}
